style
  :css
    .gp {
      float: left;
      width: 300px;
      height: 200px;
      background-size: cover;
    }

.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/chevrons.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/concentric_circles.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/diamonds.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/hexagons.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/mosaic_squares.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/nested_squares.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/octogons.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/overlapping_circles.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/overlapping_rings.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/plaid.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/plus_signs.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/sine_waves.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/squares.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/tessellation.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/triangles.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/triangles_rotated.png)")
.gp(style="background-image:url(http://jasonlong.github.io/geo_pattern/examples/xes.png)")
